# Object files
*.o

# Executables

# macOS folder attributes
.DS_Store

# ETHZ polybox
.owncloudsync.log
.sync_*

# Editors & build dirs
build/
cmake-build-debug/
CMakeFiles/
.idea/
.vscode/

# Ignore AST files (for now)
*.ast

# Ignore lib files
*.a

# Ignore llvm-lit temporary output
test/unit/**/Output

# Ignore json files
*.json
